LsgServer/GMS/Solutions/Gms.Web.Mvc/bin/
LsgServer/GMS/Solutions/Gms.Web.Mvc/obj/
LsgServer/GMS/Solutions/Gms.Common/bin/
LsgServer/GMS/Solutions/Gms.Common/obj/
LsgServer/GMS/Solutions/Gms.Domain/bin/
LsgServer/GMS/Solutions/Gms.Domain/obj/
LsgServer/GMS/Solutions/Gms.Infrastructure/bin/
LsgServer/GMS/Solutions/Gms.Infrastructure/obj/
LsgServer/GMS/Solutions/Gms.Tasks/bin/
LsgServer/GMS/Solutions/Gms.Tasks/obj/
LsgServer/GMS/Solutions/Gms.Tests/bin/
LsgServer/GMS/Solutions/Gms.Tests/obj/
LsgServer/GMS/Solutions/MSpecTests.Gms/bin/
LsgServer/GMS/Solutions/MSpecTests.Gms/obj/
LsgServer/GMS/Solutions/TestPropertyInfo/bin/
LsgServer/GMS/Solutions/TestPropertyInfo/obj/
